<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>新規リマインド登録</title>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/design.css" th:href="@{/css/design.css}">
</head>

<body>
<h1>新規登録</h1>
<p class="hissutitle"><span class="hissu">*</span>は入力必須項目</p>

<!-- 登録項目作成 -->
<form method="post" th:action="@{/post}">

    <p>登録サイト<span class="hissu">*</span></p>
    <input type="text" name="serviceName"  maxlength="20" placeholder="登録サイト名" required></input><br>

    <p>登録日<span class="hissu">*</span></p>
    <input type="date" name="registrationDate" required></input>

    <p>無料期間終了日<span class="hissu">*</span></p>
    <input type="date" name="period" required></input>

    <p>登録したメールアドレス</p>
    <input type="email" name="mailAddress" maxlength="100" placeholder="メールアドレス"></input><br>

    <p>カードブランド</p>
    <div>
        <input class="card_bra" name="cardBrand" type="radio" value="VISA"> VISA
        <input class="card_bra" name="cardBrand" type="radio" value="Master Card"> Master Card
        <input class="card_bra" name="cardBrand" type="radio" value="JCB"> JCB<br>
        <input class="card_bra" name="cardBrand" type="radio" value="American Express"> American Express
        <input class="card_bra" name="cardBrand" type="radio" value="Diners Club"> Diners Club
        <input class="card_bra" name="cardBrand" type="radio" value="DISCOVER"> DISCOVER
        <input class="card_bra" name="cardBrand" type="radio" value="銀聯"> 銀聯
    </div>

    <p>カード番号(半角16桁)</p>
    <input type="number" name="cardNum" maxlength="16" placeholder="カード番号" pattern="^([a-zA-Z0-9]{16})$"></input><br>

    <p>ID(別途設定した場合)</p>
    <input type="text" name="serviceId" maxlength="20" placeholder="ID"></input><br>

    <p>パスワード</p>
    <input type="text" name="password" maxlength="20" placeholder="パスワード"></input><br>

    <p>備考(200文字まで)</p>
    <textarea name="memo" cols="40" rows="5" maxlength="200" placeholder="その他メモなど"></textarea><br>

    <br>
    <input class="button" type="submit" value="・登録・">

</form>


</body>
</html>